<template>
    <q-page class="container q-px-md">
        <h1>Tickets</h1>

        <div class="q-pa-md" style="max-width: 350px">
            <q-list bordered separator>
                <q-item-label header>General</q-item-label>

                <q-item v-for="aTicket in tickets" v-ripple :key="aTicket.id" clickable
                    @click="aTicket.is_done = !aTicket.is_done" :class="aTicket.is_done ? 'bg-green-1 text-strike' : ''">
                    <q-item-section side top>
                        <q-checkbox v-model="aTicket.is_done"></q-checkbox>
                    </q-item-section>

                    <q-item-section>
                        <q-item-label>{{ aTicket.label }}</q-item-label>
                        <q-item-label caption>{{ aTicket.description }}</q-item-label>
                    </q-item-section>

                    <q-item-section side top>
                        <q-item-label caption>{{ aTicket.date_done }}</q-item-label>
                    </q-item-section>
                </q-item>

            </q-list>
        </div>

    </q-page>
</template>
  
<script>
export default {
    data() {
        return {
            tickets: [
                {
                    id: 1,
                    label: "Tache 1",
                    description: "Ce qu'il faut faire",
                    type: "fonctionnalité",
                    status: "en cours",
                    time_duration: '02:30',
                    is_done: false,
                    date_done: '2023-06-19'
                },

                {
                    id: 2,
                    label: "Tache 2",
                    description: "Ce qui pose problème",
                    type: "bug",
                    status: "en cours",
                    time_duration: '00:30',
                    is_done: false,
                    date_done: null
                }
            ]
        }
    }
}
</script>
  
<style lang="scss"></style>