<template>
  <router-view />
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'App',
  mounted() {
    //ajout d'une fonctionnalité pour le menu applicatif propre à Electron
    if (this.$q.platform.is.electron) {
      const ipcRenderer = require('electron').ipcRenderer
      ipcRenderer.on('show-home', () => {
        this.$router.push('/')
      })
      ipcRenderer.on('show-settings', () => {
        this.$router.push('/settings')
      })
      ipcRenderer.on('show-tickets', () => {
        this.$router.push('/tickets')
      })
    }
  }
})
</script>
