<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn flat dense round icon="menu" aria-label="Menu" @click="toggleLeftDrawer" />

        <q-toolbar-title>
          Mon Organiseur
        </q-toolbar-title>

        <div>v0.0.1</div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered>
      <q-list>
        <q-item-label header>
          Menu
        </q-item-label>

        <EssentialLink v-for="link in essentialLinks" :key="link.title" v-bind="link" />

        <ExternalLink v-for="link in externalLinks" :key="link.title" v-bind="link"  />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue'
import EssentialLink from 'components/EssentialLink.vue'
import ExternalLink from  'components/ExternalLink.vue'

const linksIntern = [
  {
    title: 'Accueil',
    icon: 'home',
    internLink: '/'
  },
  {
    title: 'Tickets',
    icon: 'check_box',
    internLink: '/tickets'
  },
  {
    title: 'Paramètres',
    icon: 'settings',
    internLink: '/settings'
  }
]

const linksExternal = [
  {
    title: 'Notre site',
    icon: 'width_normal',
    externalLink: 'https://www.digitalcooker.fr'
  }
]

export default defineComponent({
  name: 'MainLayout',

  components: {
    EssentialLink,
    ExternalLink
  },

  setup() {
    const leftDrawerOpen = ref(false)

    return {
      essentialLinks: linksIntern,
      externalLinks: linksExternal,
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
})
</script>
